# IDE
.vscode/
.idea/

# Environment files
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# .NET
**/bin/
**/obj/

# User-specific files
*.user
*.suo

# Visual Studio
.vs/

# Rider
*.DotSettings.user